
# Ignorar algunas carpetas
.vscode/
data/
venv/
logs/

# Ignorar entornos virtuales
.venv/
env/
venv/

#Ignorar pdf y docx
*.pdf
*.docx
credenciales.json

# Ignorar archivos compilados de Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignorar entornos virtuales
.env
.venv/
env/
venv/

# Ignorar configuraciones de IDEs
.vscode/
.idea/

# Ignorar archivos de sistema
.DS_Store
Thumbs.db

# Ignorar archivos de logs
*.log

# Ignorar datos temporales
*.tmp
*.swp

# Ignorar notebooks checkpoints
.ipynb_checkpoints/

# Ignorar archivos de pruebas locales
tests/__pycache__/